.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: linear-gradient(to right, red , yellow);
    padding: 10px;
    border-radius: 70px;
}
.btnnleft{
    margin-left: auto;
    display:flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    transform:  scale(1.04)s ;
}

.btnn{
    background-color: #C4BEA5;
    border:#C4BEA5;
    border-radius: 60px;
    justify-content: center;
    text-align: center;
    transition:all 1s ;
    padding: 10px;

}

.btnn:hover,.btnnleft:hover{
    color: black    ;
    background-color: limegreen  ;
    border-radius: 100px;
    transform: scale(1.2);
    
}

body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, red , yellow); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}
.bodyy{
    
    
    display: flex;
    flex-direction: column  ;
    justify-content: center ;
    align-items: center;
    
    height: 90vh;
}
#button{
        border-radius: 100px;
        border:#C4BEA5;
        background-color:#C4BEA5;
        transition: all 0.5s;

}
#button:hover{
    transform: scale(1.2);
    color: black    ;
    background-color: #7B7457  ;
    border-radius: 100px;

}
input{
    transition: all 1s;
}
input:hover{
    transform: scale(1.2);
}

.objects{

/*    background: linear-gradient(to right, red , yellow);*/
    padding: 20px;
    width: 100%;

    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
/*    border: linear-gradient(to left,whitesmoke,red);*/
}




.odj1,.odj2{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: #9B6932;
    border: 4px #3FA2F6;
    border-radius: 60px;
    height: 90px;
    width: 200px;
    transform: scale(1.05) 2s ;
    grid-template-columns:  1/3;
transition: transform 0.3s ease, background-color 0.3s ease;
    margin: 20px 20px 20px ;

}
.odj1:hover{

     transform: rotate(-5deg) scale(1.04);

            background-color: #6a5acd;
}
.odj2:hover{
    transform: rotate(5deg) scale(1.04);
    background-color: #6a5acd;
}

#input{
    background-color: whitesmoke;
    border-radius: 90px;
    border:whitesmoke;
}
